html,
body {
    margin: 0;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    margin: 10px 0;
}

.container {
    max-width: 1000px;
}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.section {
    margin: 10px;
}

.wrap-btn-back {
    width: 100%;
    text-align: center;
}

.wrap-btn-add {
    width: 100%;
}

.wrap-btn-main {
    text-align: center;
    margin: 30px 0;
}

.table-head__col--del,
.table-head__col--edit {
    width: 1%;
}

.form-create {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form-create__textarea-text {
    width: 100%;
}

.form-create__input {
    width: 100%
}